<footer>
	<div class="footer--logo">
		<a href="/">
			<img src="/images/Logo.svg" alt="classic gazebos logo">
		</a>
		<p>Finely crafted gazebos and lawn furniture</p>
	</div>
	<div class="footer--links">
		<div class="left-links">
			<a href="/gazebos">Gazebos</a>
			<a href="/lawn-furniture">Lawn Furniture</a>
		</div>
		<div class="right-links">
			<a href="/#about">About Us</a>
			<a href="/contact-us">Contact Us</a>
		</div>
	</div>
	<div class="footer--contacts">
		<hr class="footer-rule">
		<a href="tel:8706471265" class="foo-phone">870-647-1265</a>
		<a href="https://goo.gl/maps/XaxFV4WTdiqfymzR7" class="foo-address">7703 HWY 251 <br>Pocahantas AR 72455</a>
		<br>
	</div>


	<div class="details">
		<a href="{{ .Site.BaseURL }}">
			&copy; {{ now.Format "2006" }} {{ .Site.Title }} All Rights Reserved
		</a> <br>
		<a href="https://www.scriptworks.net">Website by ScriptWorks Web Dev</a>
	</div>
</footer>
<script type="text/javascript" src="/js/index.js">

</script>
