<header>

  <div class="menu">
    <ul>
      <li><a href="/gazebos" class="menu-link">Gazebos</a></li>
      <li><a href="/lawn-furniture" class="menu-link">Lawn Furniture</a></li>
        <a href="/" class="logo">  <img src="/images/Logo.svg" alt=""></a>
      <li><a href="/contact-us" class="menu-link">Contact Us</a></li>
      <li><a href="#about" class="menu-link">About Us</a></li>
    </ul>
  </div>
  <div class="hamburger" onclick="menuOpen()">
    <img src="/images/Icons_Menu.svg" alt="menu">
  </div>
  <div class="mobile-menu">
    <div class="menu-header">
      <div class="logo">
        <img src="/images/logo-dark.png" alt="">
      </div>
      <div class="menu-close" onclick="menuClose()">
        <img src="/images/Icons_Close.svg" alt="">
      </div>
    </div>
    <div class="menu-items">
      <a href="/gazebos" class="menu-item">Gazebos</a>
      <a href="/lawn-furniture" class="menu-item">Lawn Furniture</a>
      <a href="#about" class="menu-item">About Us</a>
      <a href="/contact-us" class="menu-item">Contact Us</a>
    </div>
  </div>
</header>
